In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"통계":[60,70,80,85,75],"미술":[60,70,80,85,75],"체육":[60,70,80,85,75]})

In [3]:
df

   통계  미술  체육
0  60  60  60
1  70  70  70
2  80  80  80
3  85  85  85
4  75  75  75

### Column과 Column간 연산

In [5]:
df['통계'] + df["미술"]

0    120
1    140
2    160
3    170
4    150
dtype: int64