## Eigen Value, Eigen Vector
고유값 및 고유벡터를 넘파이로 구현해본다.

In [1]:
import numpy as np

### 기본 행렬 생성하기

In [2]:
arr = np.array([[1,3],[2,5]])

In [3]:
arr

array([[1, 3],
       [2, 5]])

### 행렬 사칙연산
기본적으로 브로드캐스팅되어 연산된다

In [6]:
arr + arr

array([[ 2,  6],
       [ 4, 10]])

In [7]:
arr - arr

array([[0, 0],
       [0, 0]])

*아래 두 예제를 보면, 내적(dot)과 브로드캐스팅 된 곱
의 차이를 알 수 있다.*

In [8]:
arr * arr

array([[ 1,  9],
       [ 4, 25]])

In [10]:
np.dot(arr , arr)

array([[ 7, 18],
       [12, 31]])

### 랜덤한 행렬 만들기
아래와 같은 방법으로 0과 9 사이의 10개의 값을 만들 수 있다.

In [17]:
random_arr = np.random.randint(0, 10, size=10)

In [18]:
random_arr

array([6, 6, 1, 1, 4, 0, 3, 3, 9, 5])

### 수열로 이루어진 행렬 만들기
0 ~ 15까지의 수로 이루어진 행렬을 만든 후 , 2 x 8 형태로 변경시킨다.

In [23]:
np.arange(16).reshape(2,8)

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15]])

In [25]:
np.arange(0,16,2).reshape(2,4)

array([[ 0,  2,  4,  6],
       [ 8, 10, 12, 14]])

### 조건 걸기

In [30]:
example_array = np.arange(16)
np.where(example_array % 2, "홀수", "짝수")

array(['짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수',
       '홀수', '짝수', '홀수', '짝수', '홀수'], dtype='<U2')

### vstack, hstack
두가지 행렬을 합치는 메소드로서, vstack의 경우 열의 갯수가, hstack의 경우 행의 갯수가 같아야 하겠다.

In [52]:
a = np.arange(10).reshape(5,2)
b = np.arange(14).reshape(7,2)

np.vstack((a,b))

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11],
       [12, 13]])

### 행렬의 쉐입 보기

In [53]:
a.shape

(5, 2)

### 선형대수를 다룰때 사용하는 패키지 import

In [41]:
import numpy.linalg as linalg

### 놈(norm) 구하기

말이 괜히 어려운데, 제곱합의 루트값이다.  
n = 2인 놈을 프로베니우스 놈이라고 함.

In [54]:
a = np.array([1, 2, 3, 4])
np.linalg.norm(a)

5.477225575051661

### 판별식 구하기
1*4 - 2*3 = -2 값이 나와야겠다.  

예상대로 잘 나온다

In [46]:
determinant = linalg.det(np.array([[1,2],[3,4]]))
determinant

-2.0000000000000004

### 고유값, 고유벡터 구하기 
아래와 같은 방법으로 간단하게 고유값과 고유벡터를 구할 수 있다.

<img src=""></img>

In [38]:
P = np.array([[2, 0, 0], [0, 1, 0], [0, 0, 3]])

D, V = linalg.eig(P)

In [39]:
D

array([2., 1., 3.])

In [40]:
V

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### 고유값, 고유벡터 예제 하나 더.. 
D : 고유 벡터를 나타내는 Diagonal matrix에서 앞자를 따 D를 많이 쓰고  
V : 고유값을 나타내는 diagonal Value에서 앞자를 따 V를 많이 쓴다.

In [49]:
eigen_val_test_arr = np.array([[13,-4,2],[-4,13,-2],[2,-2,10]])
D,V = linalg.eig(eigen_val_test_arr)

In [50]:
D

array([ 9., 18.,  9.])

In [51]:
V

array([[-0.74535599, -0.66666667,  0.        ],
       [-0.59628479,  0.66666667,  0.4472136 ],
       [ 0.2981424 , -0.33333333,  0.89442719]])

### 고유값 분해 예제

In [63]:
import numpy as np

#a = np.random.randn(9, 6) + 1j*np.random.randn(9, 6)
#b = np.random.randn(2, 7, 8, 3) + 1j*np.random.randn(2, 7, 8, 3)
b = np.array([[13,-4,2],[-4,13,-2],[2,-2,10]])

u, s, vh = np.linalg.svd(b, full_matrices=False)
print("u : {}".format(u))
print("s : {}".format(s))
print("vh : {}".format(vh))
#u.shape, s.shape, vh.shape

#분해가 잘 되었는지?
#np.allclose(b, np.matmul(u * s[..., None, :], vh))
#True
#np.allclose(b, np.matmul(u, s[..., None] * vh))
#True

u : [[-6.66666667e-01 -7.45355992e-01 -5.40015493e-17]
 [ 6.66666667e-01 -5.96284794e-01  4.47213595e-01]
 [-3.33333333e-01  2.98142397e-01  8.94427191e-01]]
s : [18.  9.  9.]
vh : [[-0.66666667  0.66666667 -0.33333333]
 [-0.74535599 -0.59628479  0.2981424 ]
 [ 0.          0.4472136   0.89442719]]